body{
    background-color: black;
}
.mainDiv{
    background-color: aquamarine;
    width: 32rem;
    padding: 0.5em;
}
.thermalSetupText{
    font-weight: bold;
    margin-bottom: 1em;
}
.modelSelectDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}
.modelSelectDiv :first-child{
    width: 100%;
}
.textInputBarDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}
.numeric-input{
    margin-right: 0 !important;
}
.numeric-input :first-child{
    margin-right: 0 !important;
}
.textInputBarDiv div{
    white-space: nowrap;
    margin-right: 1em;
}
.midSectionDiv{
    display: flex;
    margin-bottom: 1em;
}
.midSectionDiv hr{
    margin: 0;
}
.tableDiv{
    width: 60%;
    height: 18rem;
    background-color: blue;
    display:flex;
    flex-direction: column;
}
.tableHeader{
    display: flex;
    align-items: center;
    margin: 0.2em;

}
.tableHeader div{
    width: 50%;
    text-align: center;
}
.tableContainer{
    background-color:darkgreen;
    width: 100%;
    overflow-y: scroll;
}
.tableElement{
    display: flex;
    align-items: center;
}
.midButtonsDiv{
    width: 40%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column-reverse;

}
.midButtonsDiv div{
    display: flex;
    justify-content: end;
    background-color: brown;
    padding-left: 20%;
    margin-top: 0.5rem;
}